.col-md-3.col-md-offset-4.text-center
  %br
  %br
  %h4
    Calculator designed using AngularJS!
  %div{ 'ng-controller': 'indexCtrl' }
    .row.well.well-lg
      ANGULATOR &#8199 TI-84
      %br
      %br
      %input{type: "text", placeholder: 0, 'ng-model': 'calcInput', 'class': 'form-control'}
      %br
      .row.spacer
        .btn-group
          %button{ 'ng-click': 'userNumber7()', 'class': 'btn btn-primary custom'}
            7
          %button{ 'ng-click': 'userNumber8()', 'class': 'btn btn-primary custom'}
            8
          %button{ 'ng-click': 'userNumber9()', 'class': 'btn btn-primary custom'}
            9
          %button{ 'ng-click': 'userNumberPlus()', 'class': 'btn btn-primary custom'}
            +

      .row.spacer
        .btn-group
          %button{ 'ng-click': 'userNumber4()', 'class': 'btn btn-primary custom'}
            4
          %button{ 'ng-click': 'userNumber5()', 'class': 'btn btn-primary custom'}
            5
          %button{ 'ng-click': 'userNumber6()', 'class': 'btn btn-primary custom'}
            6
          %button{ 'ng-click': 'userNumberMinus()', 'class': 'btn btn-primary custom'} -

      .row.spacer
        .btn-group
          %button{ 'ng-click': 'userNumber1()', 'class': 'btn btn-primary custom'}
            1
          %button{ 'ng-click': 'userNumber2()', 'class': 'btn btn-primary custom'}
            2
          %button{ 'ng-click': 'userNumber3()', 'class': 'btn btn-primary custom'}
            3
          %button{ 'ng-click': 'userNumberEquals()', 'class': 'btn btn-primary custom'} =

      .row.spacer
        .btn-group
          %button{ 'ng-click': 'userNumber0()', 'class': 'btn btn-primary custom'}
            0
          %button{ 'ng-click': 'clearCalculation()', 'class': 'btn btn-primary custom'}
            clear